# Игнорировать каталоги и файлы PyCharm
.idea/
*.iml

# Игнорировать кэш и временные файлы
*.log
*.cache
*.tmp
*.swp

# Игнорировать файлы операционной системы
.DS_Store
Thumbs.db

# Игнорировать виртуальные окружения
venv/
